.App {
    text-align: center;
   }
   
   .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
   }
   
   .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white
   }
   
   .App-title {
    font-size: 1.5em;
   }
   
   .App-intro {
    font-size: large;
   }
   
   body {
    background: url('snow.jpg');
    }
   .container {
    background: white;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 10px;
   }
   .container {
    opacity: 0.8;
   }
   
   table {
    opacity: 0.8;
    background: white;
    margin: 10px;
   }
   
   .breadcrumb {
    
   }
   
   .jumbotron {
    text-align: center;
    opacity: 0.5;
    margin-bottom: 0px;
   }
   
   h2{
    color: white;
    opacity: 1;
   }
   
   label {
    color: white
   }
   
   .title {
    text-align: center;
    color: white;
   }
   
   .FourOhFour {
    text-align: center;
    color: white;
   }
   