.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px;
}
   
   .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
   }
   
   .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white
   }
   
   .App-title {
    font-size: 1.5em;
   }
   
   .App-intro {
    font-size: large;
   }
   
   body {
    background: url('snow.jpg');
    }
   .containerTable {
    background: white;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 10px;
    opacity: 0.8;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
   }
   
   table {
    opacity: 0.8;
    background: white;
    margin: 10px;
   }
   

   .jumbotron {
    text-align: center;
    opacity: 0.5;
    margin-bottom: 0px;
   }
   
   h2{
    color: white;
    opacity: 1;
   }
   
   label {
    color: white
   }
   
   .title {
    text-align: center;
    color: white;
   }
   
   .FourOhFour {
    text-align: center;
    color: white;
   }
   
   .container2{
       margin-left: 20px;
       margin-right: 20px;
       text-align: center;
       color: white;
   }

   .navbar {
       margin-bottom: 0px;
   }

   .margin-auto {
       margin-left: auto;
       margin-right: auto;
   }

